{% extends "base.html" %} 

{% block title %}
    {%- if entry is defined -%}
      {{ entry.title }}
    {%- else -%}
      {{ conf.sitename }}
    {%- endif -%}
{% endblock %}

{% block head %}
    {{- super() }}
    {%- if entry is defined %}
    <meta name="description" content="{{ entry.description | e }}" />
    <meta name="keywords" content="{{ entry.tags | join(', ') }}" />
    {%- endif -%}
{% endblock %}

{% block content %}
<div id="collection">
        {% if entry is defined %}
        <div id="lone">
        {% else %}
        <div id="recent">
        {% endif %}
            <div class="box">
            {% for entry in env.entrylist %}
                {% include 'entry.html' %}
            {% endfor %}
            </div>

            <div id="paginate" class="bump">
                <hr class="hide">
                Goto the <a href="/articles">Archives</a> for more articless.
                <hr class="hide">
            </div>
	    </div>
    </div>

{% endblock %}
